@import './constants';
@import './colors';
@import './buttons';

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  background: $lighter-grey;
  color: $black;

  &, button {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  font-size: .875rem;
  line-height: 1.15;
}

main {
  max-width: $content-max-width;
  margin: 0 auto;
}
